/composer.lock
/tests/Functional/TestApp/cache
/tests/Functional/TestApp/logs
/var/
/vendor/
/bin/
.php_cs.cache
/.php-cs-fixer.php
/.php-cs-fixer.cache
docker-compose.override.yml
.phpunit.result.cache
auth.json
build
