parameters:
	ignoreErrors:
		-
			message: "#^Class Twig_Extension not found\\.$#"
			count: 1
			path: src/Twig/FacileMongoDbBundleExtension.php

		-
			message: "#^Class Twig_Function not found\\.$#"
			count: 1
			path: src/Twig/FacileMongoDbBundleExtension.php

		-
			message: "#^Access to an undefined property MongoDB\\\\Model\\\\BSONDocument\\:\\:\\$fqcn\\.$#"
			count: 1
			path: tests/Unit/DataCollector/MongoQuerySerializerTest.php

