<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false" colors="true" bootstrap="vendor/autoload.php">
  <coverage>
    <include>
      <directory>./src/</directory>
    </include>
    <exclude>
      <directory>./src/Resources</directory>
      <directory>./tests</directory>
      <directory>./docs</directory>
      <directory>./vendor</directory>
    </exclude>
  </coverage>
  <php>
    <ini name="error_reporting" value="-1"/>
    <env name="SYMFONY_DEPRECATIONS_HELPER" value="true"/>
  </php>
  <testsuites>
    <testsuite name="MongoBundle Test Suite">
      <directory>./tests/</directory>
    </testsuite>
  </testsuites>
</phpunit>
